.blog {
  max-width: 1300px;
  margin: 0 auto;
  padding: 68px 0 80px;
  font-family: "Montserrat", sans-serif;
  color: #1D1D1B;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    margin-bottom: 56px;
  }
  &__title-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  &__subtitle{
    align-self: self-start;
  }
  &__subtitle-text {
    position: relative;
    margin: 0;
    letter-spacing: -0.2px;
    color: $disabled-gray;
    @include Font(Montserrat, 100, 16px, serif);
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__title {
    @include Font(Alice, 500, 38px, serif);
    color: $text-dark;
    margin: 0;
    line-height: 1.35;
    letter-spacing: 0.5px;
    margin-top: -2px;
    text-transform: uppercase;
    span{
        color: $dark-yellow;
    }
  }
  &__button {
    width: 184px;
    letter-spacing: -0.2px;
  }

  &__cards {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }

  &-card {
    flex: 0 0 307px;
    aspect-ratio: 307 / 430;
    position: relative;
    background: #F9F9F9;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    }
  }

  .blog-card__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 55.7%;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) brightness(0.7);
    transition: height 0.6s ease, filter 0.4s ease, transform 0.6s ease;
    z-index: 1;
  }

  .blog-card__content {
    position: relative;
    z-index: 2;
    padding: 0px 20px 20px 32px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #1D1D1B;
    background: transparent;
    transform: translateY(-11px)
  }

  .blog-card__date {
    @include Font(Montserrat, 300, 14px, serif);
    color: $disabled-gray;
  }
  .blog-card__button{
    width: 110px;
    transform: translateY(-7px)
  }
  .blog-card__title {
    @include Font(Alice, 400, 16px, serif);
    line-height: 1.5;
    margin-top: 12px;
    margin-bottom: 16px;
    transition: color 0.5s ease;
  }

  .blog-card:hover .blog-card__image {
    height: 100%;
    filter: grayscale(0%) brightness(1);
    transform: scale(1.03);
  }
  .blog-card:hover .blog-card__title {
  color: $white;
}
.blog-card:hover .blog-card__button {
  color: $white;
}
}
