button{
        width: 200px;
        background: none;
        outline: 0;
        border: 1px solid $light-yellow;
        padding: 12px 24px;
        @include Font(Alice, 150, 16px, serif);
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease;
        &.light{
            color: $white;
        }
        &.dark{
            color: $text-dark;
        }
        &:hover{
            background-color: $light-yellow;
            transition: all 0.3s ease;
        }

    }