.director {
  width: 100%;
  background-color: #F9F9F9;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
  .container{
    position: relative;
    max-width: 1440px;
  }
  &__page{
    display: flex;
    flex-direction: row;
    gap: 242px;
  }
  &__image-side{
    background: url('/img/Фон1.png') center/cover no-repeat;
    position: relative;
    width: 376px;
    padding-top: 37px;
    img {
        position: relative;
        bottom: -17px;
        left: 128px;
        z-index: 1;
    }
  }
  &__content{
    position: relative;
    max-width: 650px;
    padding-top: 65px;
  }
  &__subtitle{
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    color: $disabled-gray;
    @include Font(Montserrat, 100, 16px, serif);
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__title{
    @include Font(Alice, 500, 38px, serif);
    color: $text-dark;
    margin: 0;
    line-height: 1.35;
    letter-spacing: 0.5px;
    margin-bottom: 29px;
    text-transform: uppercase;
    span{
      color: $dark-yellow;
    }
  }
  &__text{
    @include Font(Montserrat, 400, 16px, sans-serif);
    line-height: 1.5;
    letter-spacing: -0.46px;
    color: $text-dark;
    max-width: 480px;
    margin: 0;
    margin-bottom: 105px;
    position: relative;
  }
  &__name{
    @include Font(Alice, 400, 16px, serif);
    color: $text-dark;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px;  
  }
  &__role{
    @include Font(Montserrat, 400, 16px, sans-serif);
    color: $disabled-gray;
    letter-spacing: -0.5px;
    margin: 0;
  }
  &__signature{
    img{
      position: absolute;
      bottom: -12px;
      left: 502px;
    }
  }
}
.quote {
  position: absolute;
  font-size: 140px;
  color: rgba(0, 0, 0, 0.1);
  font-family: "Georgia", serif;
  font-weight: 100;
  &-right{
    top: 110px;
    right: -142px;
  }
  &-left{
    bottom: 117px;
    left: -100px;
  }
}


