.first-screen{
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: url(/img/Фон.png) bottom/cover no-repeat;
    background-position: center 60%;
    background-attachment: fixed;
    overflow: hidden;
    box-sizing: border-box;
}
.first-screen::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(35, 34, 40, 0.91);
  backdrop-filter: blur(2px);
  pointer-events: none;
  z-index: 1;
}
.container{
    position: relative;
    max-width: 1296px;
    z-index: 2;
}
.first-screen__content{
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    img{
        position: absolute;
        z-index: -5;
        bottom: 0;
        right: -24px;
    }
}
.first-screen__title{
    @include Font(Alice, 400, 56px, serif);
    line-height: 130%;
    letter-spacing: -2px;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 13px;
    margin-top: 10px;
}
.first-screen__consultation{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 55px;
    margin-bottom: 25px;
    &-text{
        @include Font(Montserrat, light, 16px, sans-serif);
        line-height: 150%;
        color: $disabled-gray;
        letter-spacing: -0.5px;
    }
    &-subtitle{
        @include Font(Alice, 400, 16px, serif);
        line-height: normal;
        color: $white;
        text-transform: uppercase;
    }
}
.first-screen__form{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-bottom: 74px;
}
.first-screen__stats{
    display: flex;
    gap: 2px;
    @include Font(Montserrat, light, 14px, sans-serif);
    color: $disabled-gray;
    span{
        @include Font(Alice, normal, 40px, serif);
        color: $light-yellow;
        margin-top: -4px;
    }
    .first-screen__stat-item{
        max-width: 302px;
        width: 269px;
        padding: 38px 0px 38px 33px;
        background: rgba(35, 34, 40, 0.4);
        backdrop-filter: blur(2px);
        letter-spacing: -0.5px;
    }
    div{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
form{    
    input{
        outline: 0;
        border: 0;
        padding: 14px 123px 14px 12px;
    }  
    input::placeholder{
        color: $disabled-gray;
    }   
}


