.footer{  
    width: 100%;
    background-color: #F9F9F9;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 24px 0 21px;
    display: flex;
    justify-content: center;
    &__content{
        @include Font(Montserrat, 200, 12px, serif);
        color: #5D5D5D;
        letter-spacing: 0.4px;
    }
}
