.partners {
  width: 100%;
  background-image: url(/img/колонны.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  &::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(35, 34, 40, 0.91);
    backdrop-filter: blur(2px);
    pointer-events: none;
    z-index: 1;
    }
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px 0px 80px;
  }

  &__subtitle {
    @include Font(Montserrat, 200, 16px, sans-serif);
    font-family: "Montserrat", sans-serif;
    color: $disabled-gray;
    margin: 0;
    margin-bottom: 19px;
    margin-right: -13px;
    line-height: 1.4;
  }

  &__title {
    @include Font(Alice, 500, 40px, sans-serif);
    letter-spacing: -0.5px;
    line-height: 1.3;
    color: $white;
    margin: 0;
    margin-bottom: 28px;
    text-transform: uppercase;
    span {
      color: $light-yellow;
    }
  }
  &__logos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    width: 100%;
    justify-items: center;
    &-item {
      width: 200px;
      border: 1px solid rgba(255, 255, 255, 0.15);
      display: flex;
      padding-top: 60px;
      padding-bottom: 40px;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      max-height: 200px;
      box-sizing: border-box;
      transition: all 0.3s ease;

      &:hover {
        border-color: rgba(197, 160, 89, 0.6);
        transform: translateY(-3px);
      }

      &-image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 26px;
        transform: translateY(6px);
      }

      &-name {
        @include Font(Alice, 300, 16px, serif);
        letter-spacing: 0.2px;
        color: $white;
        text-transform: uppercase;
        margin: 0;
        margin-right: -2px;
      }
      .sk--mini{
        transform: translateY(-5px);
        margin-right: -2px;
      }
    }
  }
}
