.reviews {
    padding: 80px 0 87px;
    text-align: center;
    background-color: #F9F9F9;
    &__container{
        max-width: 1299px;
        margin: 0 auto;
    }
  &__content {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  &__subtitle{
    @include Font(Montserrat, 200, 16px, sans-serif);
    color:$disabled-gray;
    margin:0;
    margin-left: 3px; 
    margin-bottom: 21px;
  }

  &__title{
    @include Font(Alice, 500, 40px, sans-serif);
    letter-spacing: -0.7px;
    line-height: 1.3;
    color: $text-dark;
    margin: 0;
    transform: translateX(4px);
    margin-bottom: 108px;
    text-transform: uppercase;
    span {
      color: $dark-yellow;
    }
  }

  &__slider {
    position: relative;
    width: 100%;
    margin: 0;
    transform: translateX(6px);
  }

  &__slider::before{
    content: "";
    position: absolute;
    transform: translateX(-50%);
    max-height: 188px;
    top: 19%;
    width: 100%;
    max-width: 898px;
    padding: 93px 0 91px;
    border: 1px solid $dark-yellow;
    z-index: 0;
    box-sizing: border-box;
    background: transparent;
  }
}
.active-slide-photo {
    position: absolute;
    top: -64px;
    left: 49.3%;
    transform: translateX(-50%);
    z-index: 20;
    width: 108px;
    height: 108px;
    transition: all 0.2s ease-in-out;
}
.active-slide-photo.fade-out {
    opacity: 0;
    transform: translateX(-50%) scale(0.8);
}
.active-slide-photo.fade-in {
    opacity: 1;
    transform: translateX(-50%) scale(1);
}
.slider-container {
    position: relative;
    width: 100%;
    max-width: 854px;
    margin: 0 auto;
     padding-bottom: 60px;
}
  .swiper {
    width: 100%;
    max-width: 854px;
    max-height: 318px;
    z-index: 2;
    margin: 0;
  }

  .swiper-wrapper{
    display:flex;
    align-items:center;
    margin: 0;
  }

  .swiper-slide{
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background: #fff;
    padding: 79px 80px 101px;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 0;
  }

  img.review__photo{
      z-index: 5;
      border: 10px solid #F9F9F9;
      margin: 0;
      border-radius:50%;
      object-fit:cover;
    }
  .review__text{
    @include Font(Montserrat, 200, 16px, sans-serif);
    font-style: italic;
    line-height:1.5;
    letter-spacing: 0.4px;
    color:$text-dark;
    margin:0 auto;
    margin-bottom: 36px;
    transform: translateX(-6px);
    max-width: 655px;
  }

  .review__author{
    @include Font(Alice, 300, 16px, sans-serif);
    color:$text-dark;
    line-height: 1.5;
    transform: translateX(-6px);
    margin-bottom: 8px;
  }
  .review__position{
    @include Font(Montserrat, 200, 14px, sans-serif);
    color:$disabled-gray;
    margin:0;
    letter-spacing: -0.3px;
    transform: translateX(-4px);
  }

  .swiper-button-prev,
  .swiper-button-next {
    padding: 12px;
    display: block !important;
    width: 24px !important;
    height: 24px !important;
    margin: 0 !important;
    background: $dark-yellow;
    border-radius: 0;
    top: 34.8% !important;
    color: white;
    z-index:3;
    border: none;
    box-shadow: none;
    position: absolute;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after{
    content: none !important;
  }

  .swiper-button-prev { left: -228px !important; }
  .swiper-button-next { right: -216px !important; }

  .swiper-button-prev:focus, .swiper-button-next:focus { outline: none; box-shadow:none; }

  .swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    z-index: 3;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: -12px;
    margin-left: -3px;
  }
  .swiper-pagination-bullet{
    width:8px;
    height:8px;
    background:$white;
    opacity:1;
    margin:0 !important;
    border-radius:50%;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .swiper-pagination-bullet-active{ 
    background: $dark-yellow !important;
    transform: scale(1);
    box-shadow: 
        0 0 0 3px #F9F9F9,
        0 0 0 1px $dark-yellow;
  }


