.subscribe {
  width: 100%;
  text-align: center;
  background-color: #F9F9F9;
  box-sizing: border-box;
  padding: 83px 0 80px;
&__content{
    max-width: 743px;
    position: relative;
    margin: 0 auto;
}
  &__subtitle {
    margin: 0;
    margin-bottom: 21px;
    letter-spacing: -0.2px;
    color: $disabled-gray;
    @include Font(Montserrat, 100, 16px, serif);
  }

  &__title {
    @include Font(Alice, 500, 38px, serif);
    color: $text-dark;
    margin: 0;
    margin-left: -3px;
    margin-bottom: 26px;
    line-height: 1.35;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    span {
      color: $dark-yellow;
    }
  }

  &__text {
    @include Font(Montserrat, 300, 16px, serif);
    color: $text-dark;
    letter-spacing: -0.3px;
    margin-bottom: 37px;
  }

  &__form {
    width: 719px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 15px;
    margin-left: 11px;
    button{
        width: 169px;
    }
    @media (max-width: 600px) {
      flex-direction: column;
      gap: 12px;
    }
  }

  &__input {
    flex: 1;
    border: 1px solid #e5e5e5;
    padding: 13px 19px;
    font-size: 14px;
    color: #1d1d1b;
    background: #fff;
    outline: none;
    transition: border-color 0.3s ease;

    &::placeholder {
      color: #c4c4c4;
    }

    &:focus {
      border-color: #a4834e;
    }
  }
}
