.contacts {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #1D1D1B;
  overflow: hidden;

  &__image {
    flex: 1;
    background: url('/img/Карта.png') center/cover no-repeat;
    max-height: 488px;
    width: 682px;
    max-width: 682px;
    position: relative;
  }

  &__content {
    flex: 1;
    padding: 80px 0px 88px 73px;
    position: relative;
    max-height: 488px;
    background: url('/img/Фон2.png') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__subtitle {
    margin: 0;
    letter-spacing: 0.5px;
    color: $disabled-gray;
    @include Font(Montserrat, 100, 16px, serif);
    position: relative;
    display: flex;
    align-items: center;
    gap: 7px;
  }

  &__title {
    @include Font(Alice, 500, 40px, serif);
    color: $white;
    margin: 0;
    line-height: 1.23;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 6px;
    span {
      color: $light-yellow;
    }
  }

  &__info {
    margin-bottom: 0px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 31px;
  }

  &__label {
    @include Font(Alice, 300, 16px, serif);
    color: $white;
    text-transform: uppercase;
  }

  &__value {
    @include Font(Alice, 300, 16px, serif);
    color: $light-yellow;
    text-transform: uppercase;
    text-decoration: none;
  }
  &__question {
    @include Font(Alice, 400, 16px, serif);
    line-height: normal;
    color: $white;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 25px;
  }

  &__form {
    display: flex;
    align-items: stretch;
    gap: 8px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__input {
    flex: 1;
    width: 298px;
    max-width: 258px;
    padding: 14px 20px;
    font-size: 14px;
    border: none;
    outline: none;
    color: #1d1d1b;
    background: #fff;

    &::placeholder {
      color: #999;
    }
  }
}
span.contacts__label:nth-child(1)
{
    margin-right: 10px;
}
span.contacts__label:nth-child(3)
{
    margin-right: 35px;
}
span.contacts__value:nth-child(2)
{
    margin-left: 29px;
}
a.contacts__value:nth-child(2){
    margin-right: 97px;
}
div.contacts__row:nth-child(2){
    margin-bottom: 40px;
}
