header{
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: url(/img/Фон.png) top/cover no-repeat;
    background-position: center 0%;
    background-attachment: fixed;
    overflow: hidden;
    border-bottom: 1px solid #39383B;
    box-sizing: border-box;
    background-position: center 0%;
    a{
        text-decoration: none;
    }
}
header::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(35, 34, 40, 0.91);
  backdrop-filter: blur(2px);
  pointer-events: none;
  z-index: 1;
}
.container{
    position: relative;
    max-width: 1296px;
    z-index: 2;
}
.header__inner{
    padding: 23px 0px 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    color: $white;
    @include Font(Alice, 200, 17px, sans-serif);
    span{
        position: relative;
        top: -1px;
        font-weight: 100;
    }
}
.header__nav{
    display: block;
    margin-left: 95px;
    ul.header__nav-list{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        margin-left: -3px;
        gap: 30px;
        padding: 0;
        a{
            text-decoration: none;
            color: $disabled-gray;
            cursor: pointer;
            @include Font(Montserrat, 200, 14px, sans-serif);
            line-height: 155%;
        }
        li.header__nav-item a{
            position: relative;
            color: $disabled-gray;
            cursor: pointer;
            @include Font(Montserrat, 200, 14px, sans-serif);
            line-height: 155%;
            transition: color 0.3s ease;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -26px;
                width: 100%;
                height: 2px;
                background: $light-yellow;
                transform: scaleX(0);
                transform-origin: left;
                opacity: 0;
                box-shadow: 0 0 6px rgba($light-yellow, 0.6);
                transition:
                    transform 0.35s cubic-bezier(.25,.8,.25,1),
                    opacity 0.25s ease,
                    transform-origin 0s;
            }

            &:hover {
                color: $light-yellow;

                &::after {
                    transform: scaleX(1);
                    opacity: 1;
                    transform-origin: left;
                }
            }
            &:not(:hover)::after {
                transform-origin: right;
                transform: scaleX(0);
                opacity: 0;
            }
    }}
}
.header__phone{
    color: $light-yellow;
    @include Font(Alice, normal, 16px, serif);
    margin-right: -5px;
    text-decoration: none;
}

