@import "variables";
@import "mixins.scss";
@import "base";
@import "header";
@import "first_screen";
@import "director";
@import "advantages";
@import "buttons";
@import "specialists";
@import "partners";
@import "reviews";
@import "blog";
@import "subscribe";
@import "contacts";
@import "footer";

@media (max-width: 1350px)
{
    .swiper-button-prev, .swiper-button-next, .swiper-pagination{
        display: none !important;
    }
}
.burger {
  position: absolute;
  display: none;
  width: 32px;
  height: 22px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 99;
  left: 60px;
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  transition: 0.3s;
}
@media (max-width: 1088px)
{
    .specialists__info{
    align-items: center;
  }
  .specialists__content {
    padding-top: 30px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .specialists__persons{
    grid-template-columns: repeat(3, 20vw);
    justify-content: center;
    justify-items: center;
    width: 80%;
  }
  .specialists__persons-item {
    align-items: center;
    &-image{
        background-size: cover;
        width: 20vw;
        padding-top: 30vw;
    }
  }
}

@media(max-width: 1340px)
{
    .container{
        padding: 0 15px;
    }
    .advantages__stats {
        width: 636px;
    }
    .blog__cards{
        max-width: 638px;
        margin: 0 auto;
    }
    .blog__header{
        padding: 0 15px;
    }
    .blog__title-wrapper
    {
        margin-bottom: 10px;
    }
}
@media(max-width: 690px)
{
  .blog__cards {
    flex-direction: column;
    align-items: center;
  }
  
  .blog-card {
    width: 100%;
    max-width: 75vw;
    aspect-ratio: 1 / 2;
    flex: 0 0 457px;
  }
}
@media(max-width: 1300px)
{
    .partners__logos {
        grid-template-columns: repeat(3, 1fr);
        gap: 5vw;
  }
}
@media (max-width: 1200px) {
  .first-screen__content img {
    max-width: 50%;
    right: 0;
  }
    .quote{
        display: none;
    }
    img[alt = "Подпись"]{
        display: none;
    }
  .director__page {
    gap: 18vw;
  }
}

@media (max-width: 1100px) {  
  .first-screen__content img {
    max-width: 45%;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 15px;
  }
  
  header,
  .first-screen,
  .partners {
    background-attachment: scroll !important;
  }

  .first-screen__content {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .first-screen__content img { 
    display: none; 
  }
  
  .first-screen__title {
    font-size: 42px !important;
    line-height: 1.2;
  }
  
  .first-screen__form {
    flex-direction: column;
    gap: 15px;
    width: 45vw;
    
  }
  
  form input {
    padding: 14px 20vw 14px 12px !important;
    text-align: center;
  }
  
  .first-screen__stats {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
  }
  
  .first-screen__stat-item {
    width: 95% !important;
    max-width: 1000px !important;
    padding: 15px 10px !important;
    justify-content: center;
    align-items: center;
  }

  .director__page {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 40px;
  }
  .director__image-side{
    width: 100%;
  }
  .director__text{
    margin-bottom: 5vw;
  }
  .director__role{
    margin-bottom: 20px;
  }
  .director__content{
    padding-top: 0px;
  }
  .director__image-side img {
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    display: block;
    width: 40vw;
  }
  
  .quote {
    display: none;
  }

  .advantages__stats {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .advantages__stats-item {
    justify-content: center;
    align-items: center;
    width: 60vw !important;
    max-width: none !important;
  }

  .reviews__slider::before { 
    display: none; 
  }
  .reviews__slider{
    width: 90vw;
  }
  .reviews__content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .swiper-slide {
    padding: 40px 20px !important;
  }
  .active-slide-photo {
    width: 128px;
    height: 128px;
    left: 45vw;
    top: -90px;
  }
  
  .subscribe__form {
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  .subscribe__content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe__form{
    align-items: center;
  }
  

  .contacts {
    flex-direction: column;
  }
  .contacts__image {
    display: none;
  }
  .contacts__subtitle{
    align-self: flex-start;
  }
  .contacts__content {
    padding: 40px 20px;
    text-align: center;
    align-items: center;
  }
  .contacts__label, .contacts__value{
    margin: 0 !important;
  }
  .contacts__row {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .contacts__form {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .contacts__input {
    width: 60vw !important;
  }
  .burger { 
    display: flex !important;
    position: absolute; 
}

  .header__nav { display: none; }
  .header__nav.open {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 78px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background: rgba(35, 34, 40, 0.95);
    text-align: center;
    z-index: 98;
    margin: 0;
  }

  .header__nav-list {
    flex-direction: column !important;
    gap: 18px !important;
  }

  .burger.active span:nth-child(1) { transform: translateY(9px) rotate(45deg); }
  .burger.active span:nth-child(2) { opacity: 0; }
  .burger.active span:nth-child(3) { transform: translateY(-9px) rotate(-45deg); }
}

@media (max-width: 768px) {
  .first-screen__title {
    font-size: 36px !important;
  }
  
  .advantages__title,
  .partners__title,
  .reviews__title,
  .blog__title,
  .subscribe__title,
  .contacts__title,
  .specialists__title,
  .director__title {
    font-size: 32px !important;
  }
  .partners__logos {
    grid-template-columns: repeat(2, 1fr);
  }

  button {
    width: 100% !important;
    max-width: 280px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 10px;
  }

  .specialists__persons-item {
    align-items: center;
    &-name-kiril, &-name-lubov, &-name-ivan{
        font-size: 12px;
    }
    &-age-kiril, &-age-lubov, &-age-ivan{
        font-size: 10px;
    }
    &-image{
        background-size: cover;
        width: 20vw;
        padding-top: 30vw;
    }
  }
  

  .first-screen__title {
    font-size: 28px !important;
  }
  
  .advantages__title,
  .partners__title,
  .reviews__title,
  .blog__title,
  .subscribe__title,
  .contacts__title,
  .specialists__title,
  .director__title {
    font-size: 24px !important;
  }
  

  .partners__logos {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 992px) {
  body {
    overflow-x: hidden;
  }

  .first-screen__content img,
  .quote-right,
  .quote-left,
  .swiper-button-prev,
  .swiper-button-next {
    max-width: 100%;
  }
}
